<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Hotwire Automation Suite">
	<parameter name="browser" value="Chrome" />
	      
<test name="Vacations">
		<classes>
			<class name="testScenarios.Vacations">
			</class>
		</classes>
</test>
</suite>
